
body{
  margin:0;
  padding:0;
  height: 100vh;
  overflow: hidden;

}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#canvas{
background: #fff;
position: fixed;
top: 0;
left: 0;
}

/*.actions{
  position:fixed;
  bottom:0;
  left:0;
}

.actions  >#eraser{
  display: inline-block;
}
.actions > #pen {
  display: none;
}
.actions.x > #eraser{
  display: none;
}
.actions.x > #pen{
  display: inline-block;
}*/

.tool{
  position:fixed;
  bottom:0;
  left:0;
  z-index: 1;

}
.tool > .icon{
  height: 2em;
  width: 2em;
  margin: 5px 0px;
  transition: all 0.1s;
}
.icon:first-child{
  margin-left: 10px;
}
.icon.active{
  height: 3em;
  width: 3em;
}