/*style reset*/
body{
  margin:0;  padding:0;  height: 100vh;  overflow: hidden;}

/******/
.icon {
  width: 2em; height: 2em; margin: 5px ; vertical-align: -0.15em;  fill: currentColor;  overflow: hidden; transition: all 0.1s;}
#canvas{
background: #fff; position: fixed;top: 0;left: 0;}

.usingstatus{position:fixed;  bottom:0;  left:0;  z-index: 1;}
.penstyle{  position:fixed;  bottom:0;  right: 0;  z-index: 1;}
.tool{  position:fixed;  top:0;  right: 0;  z-index: 1;margin: 8px 8px}


.usingstatus > .icon:first-child{  margin-left: 10px;}
.usingstatus > .icon.active{  height: 2.5em;  width: 2.5em;}
.penstyle >.pensize,.penstyle >.pencolor{
  display: inline-block;
  /* margin:  16px ; */
}
.penstyle >.pensize:active,.penstyle >.pencolor:active{
  background-color: #fff;
}
.penstyle > .pensize > .widthStyle{
  display: inline-block;
  margin: 8px 4px;
  height: 24px;
  background-color: #000;
}
.penstyle >.pensize > .widthStyle.active{
  height: 16px;
}

.penstyle >.pencolor{
  margin: 0 12px;
}
.penstyle > .pencolor >.colorStyle{  
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 8px 4px;
  position: relative;
}

.penstyle >.pencolor > .colorStyle::before{  
  content: '';
  position: absolute;  
  border-radius: 50%;  
  height: 14px;  
  width: 14px;
  top: 3px;
  left: 3px;
  transition: all 0.2s;
}
.penstyle >.pencolor > #red::before{background-color: #d81e06;}
.penstyle >.pencolor > #blue::before{background-color: #13227a;}
.penstyle > .pencolor >#yellow::before{background-color: #f4ea2a;}
.penstyle >.pencolor > #black::before{background-color: #000;}

.penstyle >.pencolor >.colorStyle.active{ height: 14px; width: 14px;}
.penstyle >.pencolor >.colorStyle.active::before{top:0;left:0;}

