/*style reset*/
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

/******/
.icon {
  width: 2em;
  height: 2em;
  margin: 5px;
  vertical-align: -0.15em;
  overflow: hidden;
  transition: all 0.1s;
}

#canvas {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

#usingStatus {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-tap-highlight-color:transparent;
}

.penstyle {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#tool {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  margin: 8px 8px;
  -webkit-tap-highlight-color:transparent;
}


#usingStatus >.icon:first-child {
  margin-left: 10px;
}

#usingStatus >.icon.active {
  height: 2.5em;
  width: 2.5em;
}

.penstyle>#pensize,
.penstyle>#pencolor {
  display: inline-block;
  -webkit-tap-highlight-color:transparent;
}

.penstyle>#pensize:active,
.penstyle>#pencolor:active {
  background-color: #fff;
}

.penstyle>#pensize>.widthStyle {
  display: inline-block;
  margin: 8px 10px;
  height: 24px;
  background-color: #000;
}

.penstyle>#pensize>.widthStyle.active {
  height: 16px;
}

.penstyle>#pencolor {
  margin: 0 12px;
}

.penstyle>#pencolor>.colorStyle {
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 8px 4px;
  position: relative;
}

.penstyle>#pencolor>.colorStyle::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  top: 3px;
  left: 3px;
  transition: all 0.2s;
}
.penstyle>#pencolor>.red{
  border: 2px solid #d81e06
}
.penstyle>#pencolor>.red::before {
  background-color: #d81e06;
}
.penstyle>#pencolor>.blue{
  border: 2px solid #13227a
}
.penstyle>#pencolor>.blue::before {
  background-color: #13227a;
}
.penstyle>#pencolor>.yellow{
  border: 2px solid #f4ea2a;
}
.penstyle>#pencolor>.yellow::before {
  background-color: #f4ea2a;
}
.penstyle>#pencolor>.black{
  border: 2px solid #000;
}
.penstyle>#pencolor>.black::before {
  background-color: #000;
}

.penstyle>#pencolor>.colorStyle.active {
  height: 14px;
  width: 14px;
}

.penstyle>#pencolor>.colorStyle.active::before {
  top: 0;
  left: 0;
}

.result{
  position: fixed;
  z-index:999;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.result.active{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.result span {
  color: #fff;
  margin: -2em 0 1em;
  font-size: 16px;
  font-weight: 700;
}
.result button {
  position: absolute;
  right: .5em;
  top:1em;
  border:none;
  outline: none;
  background: #fff;
  font-size: 16px;
  padding: .5em 1em;
  border-radius: 8px;
}
.result #resultImg {
  width:60%;
}
